<body class="row">
<div class="leftHome col"><p>Pick a date:</p>
  <input type="date" >
</div>
<div class="centerHome col">
  <p>Events today:</p>
  <a href="https://tinyurl.com/eyajx3vd" target="_blank">
    <img src="./assets/img/amsFotoHeaderRechts.png" class="imgHome">
    <img src="./assets/img/amsFotoHeaderRechts.png" class="imgHome">
    <img src="./assets/img/amsFotoHeaderRechts.png" class="imgHome">
    <img src="./assets/img/amsFotoHeaderRechts.png" class="imgHome">
  </a>
</div>
<div class="rightHome col"><p>RAI millionaire fair</p></div>
</body>
