<div *ngIf="this.selectedAEvent !== undefined; else nothingSelected">
  <table class="table">
    <thead>
      <tr>
        <th>Selected event details: (id={{ selectedAEvent.id }})</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Title</td>
        <td>
          <input name="title" class="form-control" [(ngModel)]="selectedAEvent.title">
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td>
          <input name="description" class="form-control" [(ngModel)]="selectedAEvent.description">
        </td>
      </tr>
      <tr>
        <td>Status</td>
        <td>
          <select (change)="updateSelectedAEvent()" class="form-control">
            <option *ngFor="let status of statusArray" [ngValue]="status">{{ status }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Is Ticketed</td>
        <td>
          <input type="checkbox">
        </td>
      </tr>
      <tr>
        <td>Participation fee</td>
        <td>
          <input type="text" class="form-control">
        </td>
      </tr>
      <tr>
        <td>Maximum participants</td>
        <td>
          <input type="text" class="form-control">
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="deleteSelectedAEvent()" class="btn btn-danger btn-sm float-right mb-3 ml-2">Delete</button>
  <button (click)="saveSelectedAEvent()" class="btn btn-danger btn-sm float-right mb-3 ml-2">Save</button>
  <button (click)="clearSelectedAEvent()" class="btn btn-danger btn-sm float-right mb-3 ml-2">Clear</button>
  <button (click)="resetSelectedAEvent()" class="btn btn-danger btn-sm float-right mb-3 ml-2">Reset</button>
  <button (click)="cancelSelectedAEvent()" class="btn btn-danger btn-sm float-right mb-3">Cancel</button>
</div>

<ng-template #nothingSelected>
  Please select one on the left.
</ng-template>
