<nav>
  <div class="float-left">Home</div>
  <div class="float-left">My Events</div>
<!--  <div class="dropdown">-->
<!--  <div href="" class="registrations">My Registrations</div>-->
<!--  <div class="subNav">Active</div>-->
<!--  <div class="subNav">History</div>-->
<!--  </div>-->


  <div class="dropdown">
    <div class="float-left">My Registrations</div>
    <div class="dropdown-content">
      <a href="#">Active</a>
      <a href="#">History</a>
    </div>
  </div>


  <div class="float-left">My Account</div>
  <div class="float-left" class="logIn">Sign up</div>
  <div class="float-left" class="signUp">Log in</div>
</nav>
